#**IN THIS PlAYLIST YOU LEARN ABOUT**

**1.Python Syntax of various logics.**

**2.Basic to Advance python concepts**

**3.Extercise after every sections.**

**4.Our Channel is adds free(No ADDS)**

#PYTHON INTRO

1.EASY TO CODE AND UNDERSTAND

2.ACTS AS AN INTERPRETOR

3.HAS HUGE LIBRARIES

**1.basic python code**

In [ ]:
print('learn quick and work more')

learn quick and work more

**2.Variable : it can store the data**

**basically there are 4 types of variables**

**1.number**

In [ ]:
a = 1
print(type(a))

<class 'int'>

**2.strings**

In [ ]:
a='hello quicky'
print((type(a)))

<class 'str'>

**3.Boolean**

In [ ]:
a=True
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

**4.sequences**

1.tuple

2.list

3.set

4.dictionary

In [ ]:
a = 1,2,3,
b = [1,2,3]
c = {1,2,3}
d = {1:'sai',2:'kiran',3:'avasarala'}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

**5.Taking inputs**

In [ ]:
#@title
a = input(" enter your mindset : ")
print("You are ",a)

 enter your mindset : happy
You are  happy

**6.Cascading**

In [ ]:
a= input("enter a number")
print("the",a,"is",type(a))
a=int(a)
print("the",a,"is",type(a))

enter a number4
the 4 is <class 'str'>
the 4 is <class 'int'>