**1.print 'hello' and a name which is taken from user.**

In [1]:
#@title
x= input()
print("hello ", x)

sai
hello  sai

**2.take a float value and convert it into a integer and then into a string.**

In [5]:
#@title
x = 2.1
print(type(x))
y=str(x)
print(type(y))
z=int(float((y)))
print(type(z))

<class 'float'>
<class 'str'>
<class 'int'>

**3.define a tuple and convert it into a list, then convert the list into a set.**

In [7]:
#@title
x=1,2,3,4,3,3,
print(x)
print(list(x))
print(set(x))

(1, 2, 3, 4, 3, 3)
[1, 2, 3, 4, 3, 3]
{1, 2, 3, 4}

**4.print a dictionary with rollno, student name, and class name as keys with coresponding values taken from users.**

In [9]:
#@title
x=input('enter student rollno : ')
y=input('enter student name : ')
z=input('enter student class name : ')
a={'roll no':x,'student name':y,'class name':z}
print(a)

enter student rollno : 3
enter student name : loki
enter student class name : maths
{'roll no': '3', 'student name': 'loki', 'class name': 'maths'}

#**[CLICK HERE](https://github.com/asaikiran1999/python/blob/main/python%20concepts/1_Intro_Assignment.ipynb)** for solutions