**1.Create a dictionary "{1:'a',2:'b',3:'c'}" convert the keys and values into seperate list and combine the two lists into a single list as "[1,a,1,2,b,3,c]"**

In [5]:
dict1 = {1:'a',2:'b',3:'c'}
list1 = dict1.items()
list3 = []
for i in list1:
  list3.append(i[0])
  list3.append(i[1])
print(list3)

[1, 'a', 2, 'b', 3, 'c']

**2.what is the difference between extend and append.**

In [8]:
list1 = [1,2,3,4]
list11=list1.copy()
list2 = [5,6,7,8]
list1.append(list2)
list11.extend(list2)
print("the list1.append(list2) is ",list1)
print("the list1.extend(list2) is ",list11)

the list1.append(list2) is  [1, 2, 3, 4, [5, 6, 7, 8]]
the list1.extend(list2) is  [1, 2, 3, 4, 5, 6, 7, 8]

**3.Take "12345" as a string and convert it to "1-2-3-4-5" using split and join concepts.**

In [12]:
string1 = "12345"
list1 = list(string1)
string2 = "-".join(string1)
print(string2)

1-2-3-4-5

**4.Take the list "[0,1,2,3,4]" find index of 1 in the given list then insert 2 after it.**

In [15]:
list1 =[0,1,2,3,4]
x = list1.index(1)
list1.insert(x+1,2)
print(list1)

[0, 1, 2, 2, 3, 4]

**5.Use the range function and convert that range into list and then make the elements in the string repeat three times**

In [17]:
list1 = list(range(3))
print(list1)
list1 = list1*3
print(list1)

[0, 1, 2]
[0, 1, 2, 0, 1, 2, 0, 1, 2]