**1. Build library as dictionary with keys as book id and values as book name.
then
print**

"1.Add book"

"2.delete book"


**Take input from user and if 1 is given add a book into dictionary,if 2 is given delete last book in library and then print library**

In [11]:
library = {1:'xyz',2:'abc',3:'lmn'}
print("'1.Add book'\n'2.delete book'\n'3.print the library'")
x = int(input("Enter the choice:"))
i=len(library)
if x == 1:
  y=input("enter the bookname : ")
  library.update({i+1 : y})
  i+=1
elif x==2:
  y=int(input("enter the book id : "))
  library.pop(y)
print(library)

'1.Add book'
'2.delete book'
'3.print the library'
Enter the choice:2
enter the book id : 1
{2: 'abc', 3: 'lmn'}

In [12]:
library = {1:'xyz',2:'abc',3:'lmn'}
print("'1.Add book'\n'2.delete book'\n'3.print the library'")
x = int(input("Enter the choice:"))
i=len(library)
if x == 1:
  y=input("enter the bookname : ")
  library.update({i+1 : y})
  i+=1
elif x==2:
  y=int(input("enter the book id : "))
  library.pop(y)
print(library)

'1.Add book'
'2.delete book'
'3.print the library'
Enter the choice:1
enter the bookname : xxx
{1: 'xyz', 2: 'abc', 3: 'lmn', 4: 'xxx'}

**2.Take list from the user with duplicate values and convert it into tuple,print unique values in the tuple.**

In [14]:
list1 = [1,2,1,1,2,3,5,6,73,8,9,4,3]
tuple1=tuple(list1)
print(set(tuple1))

{1, 2, 3, 4, 5, 6, 8, 73, 9}