**1.Check whether the given string is pallendrome or not.**

In [3]:
string1 = input(" enter a string ")
if string1 == string1[::-1]:
  print(string1,' is pallendrome')

 enter a string dad
dad  is pallendrome

**2.Take name of the month as user input and print no of days in it.**

case1

In [5]:
month = input(" enter the month name ").lower()
list31 = ['january','march','may','july','august','october','december']
list30 = ['april','june','september','november']
if month in list31:
  print('31 days in ',month)
elif month in list30:
  print('30 days in ',month)
else:
  print('28/29 days in ',month)

 enter the month name January
31 days in  january

case2

In [6]:
month = input(" enter the month name ").lower()
list31 = ['january','march','may','july','august','october','december']
list30 = ['april','june','september','november']
if month in list31:
  print('31 days in ',month)
elif month in list30:
  print('30 days in ',month)
else:
  print('28/29 days in ',month)

 enter the month name FEBRUARY
28/29 days in  february

case3

In [7]:
month = input(" enter the month name ").lower()
list31 = ['january','march','may','july','august','october','december']
list30 = ['april','june','september','november']
if month in list31:
  print('31 days in ',month)
elif month in list30:
  print('30 days in ',month)
else:
  print('28/29 days in ',month)

 enter the month name ApRIL
30 days in  april

**3.Check whether the user input is less than 10 or not**

**if it is less than 10, check if it is odd or even**

**if it is odd print that number multiplied by 2**

**if it is even print that number divided by 2**

case1

In [11]:
x = int(input('Enter number '))
if x<10:
  if x%2==0:
    print(x/2)
  else:
    print(x*2)
else:
  print(x,' is greater than 10')

Enter number 7
14

case2

In [12]:
x = int(input('Enter number '))
if x<10:
  if x%2==0:
    print(x/2)
  else:
    print(x*2)
else:
  print(x,' is greater than 10')

Enter number 6
3.0

case3

In [13]:
x = int(input('Enter number '))
if x<10:
  if x%2==0:
    print(x/2)
  else:
    print(x*2)
else:
  print(x,' is greater than 10')

Enter number 90
90  is greater than 10