#**FOR LOOP**

**1.range**

In [2]:
range1= range(10)

In [3]:
print(range1)

range(0, 10)

**2.for loop for range**

In [4]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

**3.for loop for range with step**

In [5]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

**4.for loop for acessing list**

In [7]:
list1 = [1,5,8]
for i in list1:
  print(i)

1
5
8

**5.for loop for set**

In [8]:
set1 = {1,3,4}
for i in set1:
  print(i)

1
3
4

**6.for loop for tuple**

In [11]:
tuple1 = (1,4,3,2)
for i in tuple1:
  print(i)

1
4
3
2

**7.for loop without parameter**

In [12]:
for _ in range(3):
  print("QUICK LEARN")

QUICK LEARN
QUICK LEARN
QUICK LEARN

**8.nested for loop**

In [20]:
for i in range(10):
  for j in range(5):
    print(i ,"X", j ,"=",j*i, end = '\t')

0 X 0 = 0	0 X 1 = 0	0 X 2 = 0	0 X 3 = 0	0 X 4 = 0	1 X 0 = 0	1 X 1 = 1	1 X 2 = 2	1 X 3 = 3	1 X 4 = 4	2 X 0 = 0	2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 4 = 8	3 X 0 = 0	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 4 = 12	4 X 0 = 0	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 4 = 16	5 X 0 = 0	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 4 = 20	6 X 0 = 0	6 X 1 = 6	6 X 2 = 12	6 X 3 = 18	6 X 4 = 24	7 X 0 = 0	7 X 1 = 7	7 X 2 = 14	7 X 3 = 21	7 X 4 = 28	8 X 0 = 0	8 X 1 = 8	8 X 2 = 16	8 X 3 = 24	8 X 4 = 32	9 X 0 = 0	9 X 1 = 9	9 X 2 = 18	9 X 3 = 27	9 X 4 = 36