**1.print 2 table and 3 table side by side upto 10 iterations.**

In [2]:
for i in range(1,11):
  print(2,"x",i,"=",i*2, end='  ')
  print(3,"x",i,"=",i*3)

2 x 1 = 2  3 x 1 = 3
2 x 2 = 4  3 x 2 = 6
2 x 3 = 6  3 x 3 = 9
2 x 4 = 8  3 x 4 = 12
2 x 5 = 10  3 x 5 = 15
2 x 6 = 12  3 x 6 = 18
2 x 7 = 14  3 x 7 = 21
2 x 8 = 16  3 x 8 = 24
2 x 9 = 18  3 x 9 = 27
2 x 10 = 20  3 x 10 = 30

**2.Take a list containing integers in string format and convert then into list of integer format using for loop**

In [4]:
list1 = ['1','2','3','4','5']
print(list1)
for i in range(len(list1)):
  list1[i]=int(list1[i])

print(list1)

['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

**print the pattern**

x

xx

xxx

xxxx

**using for loop**

In [6]:
for i in range(1,5):
  print('\n')
  for j in range(i):
    print('x',end='')

x

xx

xxx

xxxx