**1.create addition function for multiple inputs given as argumrnts**

In [1]:
def add(*a):
  x= sum(a)
  print(x)

In [2]:
add(1,2,3)

6

**2. create a function which reverses a given list and prints the joined string of elements of that particular string.**

In [15]:
def reverse_print(list1):
  list1.reverse()
  for i in range(0,len(list1)):
    list1[i] = str(list1[i])
  x=''.join(list1)
  print(x)

In [16]:
list1 = [1,2,3,4,5]
reverse_print(list1)

54321

**3.create a function which prints table of given number upto 12 iterations**

In [18]:
def table_fun(a):
  for i in range(1,13):
    print(a,"x",i,"=",i*a)

In [19]:
table_fun(8)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96