#**DICTIONARY**

**A dictionary is a collection which is ordered*, changeable and do not allow duplicates**

`**1.Creation of dictionary and calling the elements**

In [ ]:
a={1:'a',2:'git',3:'hub',4:'python',5:'datascience'}

In [ ]:
#calling the whole dictionary
print(a)

{1: 'a', 2: 'git', 3: 'hub', 4: 'python', 5: 'datascience'}

In [ ]:
#calling of key valued 1 element
print(a[1])

a

In [ ]:
#usage of get method
print(a.get(2))

git

**2.changing the values of the dictionary**

In [ ]:
print("before changing value in the dictionay is ",a)
a[2]='machine Learning'
print("after changing value in the dictionay is ",a)

before changing value in the dictionay is  {1: 'a', 2: 'git', 3: 'hub', 4: 'python', 5: 'datascience'}
after changing value in the dictionay is  {1: 'a', 2: 'machine Learning', 3: 'hub', 4: 'python', 5: 'datascience'}

**3.Inbuilt functions in dictionary**

**1.clear()**

In [ ]:
b={1:'y',2:'u',3:'i'}
print("dictionary before using clear ",b)
b.clear()
print("dictionary after using clear  ", b)

dictionary before using clear  {1: 'y', 2: 'u', 3: 'i'}
dictionary after using clear   {}

**2.copy()**

In [ ]:
#we use copy so that a new data space is n create
a ={1:'a',2:'git',3:'hub',4:'python',5:'datascience'}
b = a.copy()
print(" the copied dictionary is ",b)
#if we use copy the changes made in b also reflects in a

 the copied dictionary is  {1: 'a', 2: 'git', 3: 'hub', 4: 'python', 5: 'datascience'}

**3.values()**

In [ ]:
values=a.values()
print("the values of a are ",values)

the values of a are  dict_values(['a', 'git', 'hub', 'python', 'datascience'])

**4.keys()**

In [ ]:
keys = a.keys()
print("the keys of a are ",keys)

the keys of a are  dict_keys([1, 2, 3, 4, 5])

**5.update()**

In [ ]:
print(a.update())

None

**6.items()**

In [ ]:
print(a.items())

dict_items([(1, 'a'), (2, 'kiran'), (3, 'hub'), (4, 'python'), (5, 'datascience')])

**7.pop()**

In [ ]:
print("the dictionary before pop()",a)
x=a.pop(3)
print("the dictionary after pop()",a)
print('the poped element is ', x)

the dictionary before pop() {1: 'a', 2: 'kiran', 3: 'hub', 4: 'python', 5: 'datascience'}
the dictionary after pop() {1: 'a', 2: 'kiran', 4: 'python', 5: 'datascience'}
the poped element is  hub

**8.popitem()**

In [ ]:
# pops the last item 
print("the dictionary before popitem()",a)
x=a.popitem()
print("the dictionary after popitem()",a)
print('the poped element is ', x)

the dictionary before popitem() {1: 'a', 2: 'kiran', 4: 'python', 5: 'datascience'}
the dictionary after popitem() {1: 'a', 2: 'kiran', 4: 'python'}
the poped element is  (5, 'datascience')

#**SETS**

**PROPERTIES OF SET:**

**1.NO INDEX**

**2.NO ORDER**

**3.NO DUPLICATES**

**1.creating a empty set**

In [2]:
a = set()
print("the empty set -> ",a)

the empty set ->  set()

**2.creating a set and checking the output of set**

In [3]:
a = [1,3,55,6,7,8,2,3,3,3,11,1,1,55]
print("the list a is ",a)
print('length of the list a is ',len(a))
a = set(a) # converting the list into set
print("the set a{removes all duplicates} is ",a)
print('length of the set a is ',len(a))

the list a is  [1, 3, 55, 6, 7, 8, 2, 3, 3, 3, 11, 1, 1, 55]
length of the list a is  14
the set a{removes all duplicates} is  {1, 2, 3, 6, 7, 8, 11, 55}
length of the set a is  8

**3.INBUILT FUNCTIONS**

**1.discard()**

In [5]:
a= {1,2,3,4,5}
print("the set a is ", a)
a.discard(2)
print("the set a after discarding 2 is ",a)
#if not in set doesn't throws error

the set a is  {1, 2, 3, 4, 5}
the set a after discarding 2 is  {1, 3, 4, 5}

**2.remove()**

In [9]:
a= {1,2,3,4,5}
print("the set a is ", a)
a.remove(2)
print("the set a after remove 2 is ",a)
#if not in set  throws error

the set a is  {1, 2, 3, 4, 5}
the set a after remove 2 is  {1, 3, 4, 5}

**3.pop()**

In [12]:
a= {1,2,3,4,5}
print("the set a is ", a)
a.pop(2) # pop doesn't work in python because there is no indexing

the set a is  {1, 2, 3, 4, 5}

TypeError: ignored

**4.union()**

In [14]:
a={1,2,3}
b={2,3,4}
print("the a union b is ",a|b,"or",a.union(b))

the a union b is  {1, 2, 3, 4} or {1, 2, 3, 4}

**5.intersection()**

In [15]:
a={1,2,3,4}
b={3,4,5,6}
print("the intersection of a and b is",a&b,'or',a.intersection(b))

the intersection of a and b is {3, 4} or {3, 4}

**6.difference()**

In [16]:
a={1,2,3,4}
b={3,4,5,6}
print("the difference of a by b is",a-b,'or',a.difference(b))

the difference of a by b is {1, 2} or {1, 2}

**7.update()**

In [17]:
a={1,2,3}
print("the update done on a is ",a.update())

the update done on a is  None

#**TUPLES**

**1.creation of empty tuple**

In [18]:
a=tuple()
print("the empty tuple is ",a)

the empty tuple is  ()

**2.ways of creating a tuple**

In [20]:
a=tuple([1,2,3])
print(a)
b=(1,2,3)
print(b)
c=1,2,3,#to be noted
print(c)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)

**BUILTIN FUNCTIONS**

**1.concatination**

In [21]:
a=1,2,3,
b=4,5,6,
print(a+b)

(1, 2, 3, 4, 5, 6)

**2.del**

In [22]:
a=1,2,3,
print("a exists ->",a)
del a                     #DELETES THE WHOLE VARIABLE
print(a)

a exists -> (1, 2, 3)

NameError: ignored

**INDEXING AND SLICING IS SAME AS LIST**

**3.count()**

In [24]:
a=1,2,3,
print(a.count(1))

1

**4.index()**

In [26]:
a=0,8,5,
print(a.index(8))

1