#**LIST**
**List is a datatype in python which can contain different datatypes listed in it given indexes**

1.**Creation** and **usage** of list

Creation of **Empty list** in two ways

In [ ]:
list1 = []     #1st way of creating empty list 
list2 = list() #another way
print("list1 contain ",list1)
print("list2 contain ",list2)

list1 contain  []
list2 contain  []

creating a **nested list**

In [ ]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = [list1,list2]
print("list1 is",list1)
print("list2 is",list2)
print("list3 i.e combination of list1 and list2 is",list3)

list1 is [1, 2, 3, 4]
list2 is [5, 6, 7, 8]
list3 i.e combination of list1 and list2 is [[1, 2, 3, 4], [5, 6, 7, 8]]

**LIST COMPREHENSION**

1.**List comprehension** offers a shorter syntax when you want to create a new list based on the values of an existing list

First we know about **range**.

In [ ]:
list1=list(range(5))
print(list1)

[0, 1, 2, 3, 4]

Doubling every element in list1 using list comprehension

In [ ]:
list2 =[i*2 for i in list1]
print(list2)

[0, 2, 4, 6, 8]

filtering elements only divisible by 2

In [ ]:
list2 = [i for i in list1 if i%2==0]
print(list2)

[0, 2, 4]

**STRINGS AND LISTS**

Converting a **string into list**

In [ ]:
string='123456789'
list1 = list(string)
print(list1)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

Converting a **list into string**

In [ ]:
string1=''.join(list1)#join helps us to convert list into a single string
print(string1)

123456789

Converting string int list using **Split**

In [ ]:
string2='1,2,3,4,5'
list2=string2.split(',')
print(list2)

['1', '2', '3', '4', '5']

**DICTIONARY AND LIST**

Converting dictionary **keys and values** into list

In [ ]:
dict1 = {1:'a',2:'b',3:'c'}
list1 = list(dict1.keys())
print("keys in dictionary are:",list1)
list2 = list(dict1.values())
print("values in dictionary are:",list2)

keys in dictionary are: [1, 2, 3]
values in dictionary are: ['a', 'b', 'c']

#**BUILDIN FUNCTIONS IN LIST**

**1.append()**

In [2]:
list1 = list(range(5))
print("before appending : ",list1)
list1.append(5)
print("after appending : ",list1)

before appending :  [0, 1, 2, 3, 4]
after appending :  [0, 1, 2, 3, 4, 5]

**2.extend()**

In [3]:
list1=list(range(5))
list2=list(range(5,10))
print("list1 is : ",list1)
print("list2 is : ",list2)
list1.extend(list2)
print("list1 after extending : ",list1)

list1 is :  [0, 1, 2, 3, 4]
list2 is :  [5, 6, 7, 8, 9]
list1 after extending :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**3.insert()**

In [4]:
list1=list(range(5))
print("list1 is : ",list1)
#inserting "a" in 3rd position
list1.insert(2,"a")
print("list1 after inserting a in 3rd position is : ",list1)

list1 is :  [0, 1, 2, 3, 4]
list1 after inserting a in 3rd position is :  [0, 1, 'a', 2, 3, 4]

**4.index()**

In [5]:
list1=list(range(5,10))
print("list1 is : ",list1)
index = list1.index(7)
print("index of 7 in list1 is ",index)

list1 is :  [5, 6, 7, 8, 9]
index of 7 in list1 is  2

**5.remove()**

In [6]:
list1 = list(range(5))
print("list1 before removing 2 ",list1)
list1.remove(2)
print("list1 after removing 2 ",list1)

list1 before removing 2  [0, 1, 2, 3, 4]
list1 after removing 2  [0, 1, 3, 4]

**6.pop()**

In [8]:
list1 = list(range(5))
print("list1 before pop applied ",list1)
pop = list1.pop()
print("list1 after poping ",pop," is ",list1)
pop2 = list1.pop(2)
print("list1 after poping 3rd positioned element i.e ",pop2," is ",list1)

list1 before pop applied  [0, 1, 2, 3, 4]
list1 after poping  4  is  [0, 1, 2, 3]
list1 after poping 3rd positioned element i.e  2  is  [0, 1, 3]

**7.sort()**

In [12]:
list1 = list((4,2,5,7,6,8))
print("list before sorting : ",list1)
list1.sort()
print("list after sorting : ", list1)

list before sorting :  [4, 2, 5, 7, 6, 8]
list after sorting :  [2, 4, 5, 6, 7, 8]

**8.reverse()**

In [13]:
list1 = list(range(5))
print("list before reversing : ",list1)
list1.reverse()
print("list after reversing : ",list1)

list before reversing :  [0, 1, 2, 3, 4]
list after reversing :  [4, 3, 2, 1, 0]

**9.len(),max(),min()**

In [14]:
list1 = list(range(5))
print("the list is : ",list1)
print("length of list  : ",len(list1))
print("Max of the list : ",max(list1))
print("Min of the list : ",min(list1))

the list is :  [0, 1, 2, 3, 4]
length of list  :  5
Max of the list :  4
Min of the list :  0

**10.count()**

In [15]:
list1 = [1,33,33,44,44,33,44,44]
print("the list is ",list1)
print("count of 44 in the list is ", list1.count(44))

the list is  [1, 33, 33, 44, 44, 33, 44, 44]
count of 44 in the list is  4

**11.clear()**

In [16]:
list1 = list(range(6))
print("list before clear ", list1)
list1.clear()
print("list after clear ", list1)

list before clear  [0, 1, 2, 3, 4, 5]
list after clear  []

**12.rotate()**

In [22]:
from collections import deque
list1 = deque(list(range(6)))
print("list before rotation",list1)
list1.rotate(1)
print("list after rotation",list1)

list before rotation deque([0, 1, 2, 3, 4, 5])
list after rotation deque([5, 0, 1, 2, 3, 4])

#**INDEXING IN LIST**

**list[start : stop : step ] **
**start is range from which it starts ,**
**stop where index ends, step tells gaps it should take in between.**

In [18]:
list1 = list(range(10))
print("list with 0-5 range slicing is : ",list1[0:5])
print("list with 0-5 range slicing is : ",list1[:5])
print("list with step=2 sliciing is : ",list1[::2])

list with 0-5 range slicing is :  [0, 1, 2, 3, 4]
list with 0-5 range slicing is :  [0, 1, 2, 3, 4]
list with step=2 sliciing is :  [0, 2, 4, 6, 8]

#**Using .copy()**

**If we don't use copy then the list points same address and changes can't be differentiated**

In [19]:
list1 = list(range(10))
list2 = list1
list1.append(12)
print("the list2 is also appended ",list2)
list1 = list(range(10))
list2 = list1.copy()
list1.append(12)
print("the list2 is not appended because we used copy() ",list2)

the list2 is also appended  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12]
the list2 is not appended because we used copy()  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]