#**PYTHON INTRO**

**1.EASY TO CODE AND UNDERSTAND**

**2.ACTS AS AN INTERPRETOR**

**3.HAS HUGE LIBRARIES**

**1.basic python code**

In [1]:
print('learn quick and work more')

learn quick and work more

**2.Variable : it can store the data**

**basically there are 4 types of variables**

**1.number**

In [2]:
a = 1
print(type(a))

<class 'int'>

**2.strings**

In [3]:
a='hello quicky'
print((type(a)))

<class 'str'>

**3.Boolean**

In [6]:
a=True
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

**4.sequences**

1.tuple

2.list

3.set

4.dictionary

In [7]:
a = 1,2,3,
b = [1,2,3]
c = {1,2,3}
d = {1:'sai',2:'kiran',3:'avasarala'}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

**5.Taking inputs**

In [9]:
a = input(" enter your mindset : ")
print("You are ",a)

 enter your mindset : smart
You are  smart