<a href="https://colab.research.google.com/github/asaikiran1999/python/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST**

1.accessing elements in list

In [ ]:
l = ['sai','kiran','sandeep','ram','raju']
print("the second elemenet in the list is ",l[1])
print("the last element in the list is ",l[-1])

the second elemenet in the list is  kiran
the last element in the list is  raju

2.adding an element to a list.

In [ ]:
l.append('dinesh')
print(l)

['sai', 'kiran', 'sandeep', 'ram', 'raju', 'dinesh']

2.1.inserting elements into list

In [ ]:
l.insert(1,'vinay')
print(l)

['sai', 'vinay', 'kiran', 'sandeep', 'ram', 'raju', 'dinesh']

3.sorting a list

In [ ]:
l.sort()
print("the sorted list in accending order",l)
l.sort(reverse = True)
print("the sorted list in desending order",l)

the sorted list in accending order ['dinesh', 'kiran', 'raju', 'ram', 'sai', 'sandeep', 'vinay']
the sorted list in desending order ['vinay', 'sandeep', 'sai', 'ram', 'raju', 'kiran', 'dinesh']

3.1.reversing a list

In [ ]:
l.reverse()
print("reversing the order of elements of string ",l)

reversing the order of elements of string  ['dinesh', 'kiran', 'raju', 'ram', 'sai', 'sandeep', 'vinay']

4.removing elements in the list

In [ ]:
del l[0]
print(l)

['raju', 'ram', 'sai', 'sandeep', 'vinay']

In [ ]:
pop = l.pop()
print(pop)
pop2 = l.pop(3)
print(pop2)

vinay
sandeep

In [ ]:
l.remove('sai')

ValueError: ignored

In [ ]:
print(l)

['raju', 'ram']

5.finding length of a list.

In [ ]:
len(l)

2

6.for loop with list

In [ ]:
for i in l:
  print(i*2)

rajuraju
ramram

7.converting range into list

In [ ]:
l = list(range(1,11))
print(l)
print(min(l))
print(max(l))
sum(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

55

8.lIST COMPREHENSION

In [ ]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

9.slicing list

start:stop:step

In [ ]:
print(l[1:3:2])

[2]

In [ ]:
print(l[1:3:-1])

[]